<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <title>About</title>
  </head>
  <body>
    <div id="principal">
        <div class="menu">
          <a class="menu1" href="/home">Inicio</a>
          <a class="menu1" href="/about">Adopción</a>
          <a class="menu1" href="/works">Cuidados</a>
          <a class="menu1" href="/gallery">Galeria de Imágenes</a>
        </div>
        <div>
        <h2 class="titeperros">Beneficios de adoptar un perro</h2>
        </div>

        <div class>
        <ul>
        <li>Puede ser una experiencia tremendamente gratificante.</li>
        <li>Los perros adultos pueden estar acostumbrados a vivir en casas.</li>
        <li>Los perros adultos pueden conocer algunas órdenes básicas.</li>
        <li>Inconvenientes de adoptar un perro</li>
        <li>
          Puede resultar difícil predecir en los perros mestizos, el tamaño que
          tendrán de adultos
        </li>
        <li>
          Las mascotas provenientes de protectoras pueden presentar problemas de
          comportamiento.
        </li>
        <li>
          Los perros adultos pueden no haber sido educados ó haber desarrollado
          malos hábitos.
        </li>
        </ul>
    

        <div>
        <h2 class="tittle2">Consejos para adoptar un perro</h2>
         </div>

        <div>
        <p>
        La clave para una buena transición es pasar tiempo con el perro antes de
        llevarlo a casa. Antes de adoptarlo, trata de visitarlo varias veces y
        pide a la protectora si lo puedes sacar a pasear. Si es posible, llévalo
        en tu coche y observa su comportamiento en distintas circunstancias.
        </p>
        </div>
    </div>
  </body>
</html>
