<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Home</title>
  </head>
  <body>
    <div id="principal">
      <div class="menu">
        <a class="menu1" href="/home">Inicio</a>
        <a class="menu1" href="/about">Adopción</a>
        <a class="menu1" href="/works">Cuidados</a>
        <a class="menu1" href="/gallery">Galeria de Imágenes</a>
      </div>
      <div>
        <h1 class="titeperros">Perritos</h1>
      </div>
      <div>
        <p class="parrafo">
          Los perros son seres sociables y viven en manada con otros perros o
          con humanos. Suelen vivir unos 13 o 15 años y, algunos como los de
          raza pequeña, llegan a los 17 años.
        </p>
      </div>

      <img src="../images/ppokemon.jpeg" width="100" height="100" />
    </div>
  </body>
</html>
