@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100&family=Arima&family=Edu+TAS+Beginner:wght@500&family=Indie+Flower&family=Rubik+Moonrocks&display=swap");

body {
  margin: 0;
  background-color: lightgoldenrodyellow;
  font-family: Arima, Arial, Helvetica, sans-serif;
}


.menu {
   
    box-shadow: 5px 5px 5px 5px ;
    background-color: #CD853F;
    width: 100vw;
    justify-content: center;
    position: fixed;
    top:0;
    display: flex;
   
  
}

.menu1 {
display: flex;
justify-content: space-between;
padding: 10px;

}

.titeperros{
    padding-top: 30px;
    
}